
    <div class="event">
        <div class="content">
        <div class="summary">
        <a class="inactiveLink"><%= message.user.username%>:</a> <%= message.body%>
        </div>
        </div>
    </div>
